.headerBar {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  &__bar {
    width: 180px;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  &__search__button {
    display: inline;
    padding: 0;
  }
}
