
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding-top: 56px;
  margin: 16px;
  text-align: center;

}

img {
  max-width: 100%;
}

